<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : config.xml
    Created on : January 24, 2012, 11:43 AM
    Author     : wolfertdekraker
    Description: tracker config
-->

<config>
  <param name="context" value="./tracker/"/>
  <param name="torrentXML" value="./tracker/files/torrents.xml"/>
  <param name="peerXML" value="./tracker/files/peers.xml"/>
  <param name="listeningPort" value="8085"/>
  <param name="servername" value="Tracker"/>
  <param name="torrentsDir" value="./tracker/files/torrents/"/>
</config>
